* text=auto

*.bash eol=lf
*.sh eol=lf
*.ksh eol=lf
*.csh eol=lf
*.pem eol=lf
*.cmd eol=crlf
*.bat eol=crlf
*.BAT eol=crlf
*.CMD eol=crlf
*.dsp eol=crlf
*.sln eol=crlf
*.vcproj eol=crlf
*.reg eol=crlf

*.PNG -text
*.png -text
*.jpg -text
*.gif -text
*.bmp -text
*.ico -text
*.pdf -text
*.zip -text
*.tar -text
*.rar -text
*.jar -text
*.so -text
*.3DS -text
*.3ds -text
*.class -text
*.tga -text
*.xcf -text
*.xcf.gz -text
*.xcf.bz2 -text
*.ogg -text
*.mp3 -text
*.wav -text
*.dds -text
*.dll -text
*.dylib -text
*.jbf -text
*.jme -text
*.bin -text
*.ser -text
*.jnilib -text
*.ms3d -text
*.raw -text

*.txt text
*.text text
*.dsv text
*.html text
*.ent text
*.xhtml text
*.dtd text
*.java text
*.groovy text
*.gradle text
*.jsp text
*.ase text
*.cfg text
.cvsignore text
.gitignore text
.gitattriutes text
*.css text
*.dae text
*.jnlp text
*.mtl text
*.obj text
*.material text
*.php text
*.properties text
*.vert text
*.frag text
*.x3d text
*.xml text
*.svg text
*.ac text
*.am text
*.def text
*.m4 text
*.rc text
*.wxs text
Makefile text
makefile text
*.mf text
*.MF text
*.mak text
*.c text
*.cpp text
*.pl text
*.pm text
*.csv text
*.shtml text
*.htm text
*.js text
*.sql text
*.isq text
*.nsq text
*.bsh text
*.ini text
*.lst text
*.py text
*.style text
*.xsd text
*.rng text
*.xsl text
*.xslt text
*.dtd text
*.json text
